<h1> Doctor Information </h1>

<p>Name - <%= @doctor.name%></p>
<p>Specialty - <%= @doctor.specialty%></p>
<p>Graduated from - <%= @doctor.university%></p>
<p>Practicing Hospital - <%= @doctor.hospital.name%></p>

<% @doctor.patients.each do |patient| %>
  <p>Current Patients - <%= patient.name %>
<% end %>
