<h1> Doctor Information </h1>

<p>Name - <%= @doctor.name%></p>
<p>Specialty - <%= @doctor.specialty%></p>
<p>Graduated from - <%= @doctor.university%></p>
<p>Practicing Hospital - <%= @doctor.hospital.name%></p>

<% @doctor.patients.each do |patient| %>
  <p>Current Patients - <%= patient.name %>

  <%= button_to "Remove Patient #{patient.name}" %>
  # doctorpatient_path(doctorpatient.id), method: :delete</p> %> (This line is part of line above, placed down to check if button showed up on page )
<% end %>
